.styleguide {
  &__header {
    padding: 60px 140px;
  }

  &__article {
    padding: 80px 140px 0;
  }

  &__article-title {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.3px;
    color: green;
    margin-bottom: 32px;
  }

  &__icons-list {
    li {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }

    p {
      margin-left: 10px;
    }
  }
}
