# Next.js
/.next
/out
next.config.js

# Build
/dist
/build

# Front-End
public/**/*.ts
public/**/*.js
public/**/*.tsx
public/**/*.jsx

src/glxp/**/*.ts
src/glxp/**/*.js
src/glxp/**/*.tsx
src/glxp/**/*.jsx

src/vendors/**/*.ts
src/vendors/**/*.js
src/vendors/**/*.tsx
src/vendors/**/*.jsx

# Utilities
src/utils/helpers/**/*.ts
src/utils/helpers/**/*.js
