// Kennel
@import 'styles/kennel/kennel';

// Utils
@import 'styles/utils/variables';

.button {
  @include position(relative);
  @include padding(null 30px);
  font-size: rem(10px);
  letter-spacing: 2px;
  line-height: (13 / 10);
  font-weight: 600;
  text-transform: uppercase;
  color: $brand-black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  border: 1px solid $brand-black;
  min-height: 48px;
  overflow: hidden;

  :global(.no-touchevents) &:not([disabled]):hover,
  :global(.no-touchevents) &:not([disabled]):focus {
    border-width: 2px;
  }
}
