// Random Variables
// -----------------------------------------------------------------------------
$PI: 3.1415926536;

// Color Palette
// -----------------------------------------------------------------------------
$brand-black: #000;
$brand-white: #fff;

// Responsive Settings
// -----------------------------------------------------------------------------
$mq-responsive: true;
$mq-static-breakpoint: xl;
$mq-show-breakpoints: (xxs, xs, s, m, l, xl, xxl, xxxl);
