// Random Variables
// -----------------------------------------------------------------------------
$PI: 3.1415926536;

// Color Palettes
// -----------------------------------------------------------------------------
$brand-black: #000;
$brand-white: #fff;

// Indexes
// -----------------------------------------------------------------------------
$z-layers: (
  base: 1,
  under-base: -1,
  above-base: 2,
);

// Fonts Variables
// -----------------------------------------------------------------------------
$base-font-size: 16px;
$base-line-height: 2;

$fallback-font-serif: 'Times New Roman', 'Georgia', serif;
$fallback-font-sans-serif: 'Helvetica', 'Arial', sans-serif;

$font-serif: $fallback-font-serif;
$font-sans-serif: $fallback-font-sans-serif;

// Grid System Settings
// -----------------------------------------------------------------------------
$config: (
  xxxs: (
    grid-size: calc(100vw - 40px),
    grid-edge: 20px,
    grid-gutter: 20px,
    grid-columns: 4,
  ),
  l: (
    grid-size: calc(100vw - 100px),
    grid-edge: 50px,
    grid-gutter: 20px,
    grid-columns: 12,
  ),
  xl: (
    grid-size: calc(100vw - 100px),
    grid-edge: 50px,
    grid-gutter: 20px,
    grid-columns: 16,
  ),
);
