// Vendors
@import 'styles/vendors/sass-mq/mq';

// Utils
@import 'styles/utils/variables';
@import 'styles/utils/breakpoints';

.grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  pointer-events: none;

  &__inner {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: initial;
    border-right: 1px solid rgba(green, 0.1);
    border-left: 1px solid rgba(green, 0.1);
    justify-content: space-between;

    @include mq($from: 'xl') {
      max-width: map-get($mq-breakpoints, 'xl') - 60px;
      margin-right: auto;
      margin-left: auto;
    }

    @include mq($until: 'xl') {
      max-width: calc(100% - 60px);
    }
  }

  &__column {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    background-color: rgba(red, 0.1);

    + .grid__column {
      margin-left: 19px;
    }
  }
}
