html {
  /* prettier-ignore */
  font-size: math.div(math.div($base-font-size, ($base-font-size * 0 + 1)), 16) * 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

// Default text styles
// -----------------------------------------------------------------------------
body {
  font-family: $font-sans-serif;
  font-size: 1rem;
  line-height: $base-line-height;
}
